@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');
body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    transform: scale(1);
    transform-origin: top center;
    opacity: 0;
    transition: opacity .35s;
    font-size: small;
}

body.loaded {
    opacity: 1;
}


/* DARK MODE */

.dark-mode {
    background: #121212 !important;
    color: #fff !important;
}


/* Navbar */

.dark-mode .navbar {
    border: solid 1px #aaa;
    background: #111 !important;
}

.dark-mode .navbar-collapse {
    background: #111;
}


/* Card */

.dark-mode .card {
    background: #1a1a1a !important;
    color: #fff !important;
    border-color: rgba(255, 255, 255, .1) !important;
}


/* Text */

.dark-mode .text-secondary {
    color: #fff !important;
}


/* Footer */

.dark-mode footer {
    background: #111 !important;
    color: #fff !important;
    border-top: 1px solid rgba(255, 255, 255, .1);
}


/* Form */

.dark-mode .form-control {
    background: #1a1a1a;
    border-color: rgba(255, 255, 255, .1);
}

.dark-mode .form-control::placeholder {
    color: #aaa;
}


/* Dropdown */

.dark-mode .dropdown-menu {
    background: #1a1a1a;
    border-color: rgba(255, 255, 255, .1);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

.dark-mode .dropdown-item {
    color: #fff !important;
}

.dark-mode .dropdown-item:hover {
    background: #2a2a2a;
}


/* Button */

.dark-mode .navbar-toggler .material-symbols-outlined {
    color: #fff !important;
    border-color: rgba(255, 255, 255, .1);
}


/* Terminal */

.dark-mode .terminal {
    background: #000;
}


/* Links */


/* Filter Buttons */

.dark-mode .filter-btn {
    border-color: rgba(255, 255, 255, .1);
    color: #fff;
}

.dark-mode .filter-btn.active {
    background: #f0f0f0;
    color: #000;
}


/* Hero Section */

.hero {
    padding: 50px 0;
}


/* Navbar */

.navbar {
    padding: 10px;
    position: sticky;
    top: 10px;
    margin: 10px;
    z-index: 1000;
    background: rgba(255, 255, 255);
    backdrop-filter: blur(25px);
    transition: all 0.3s ease;
    border: solid 1px #e0e0e0;
    border-radius: 10px;
}


/* Navbar Toggler */

.navbar-toggler .material-symbols-outlined {
    font-size: 2rem;
    color: #000;
}


/* muncul saat scroll */

.navbar.scrolled {
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
}

.logo {
    width: 40px;
    height: 40px;
    object-fit: cover;
}


/* Link Navigasi */

.nav-link {
    text-decoration: none;
    padding: 10px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    color: #000;
    font-size: 14px;
    border-radius: 10px;
}

.nav-link:hover {
    transition: 0.3s;
    background: #f5f5f5;
    border-radius: 10px;
}

.nav-link:focus,
.nav-link.active {
    background: #e0e0e0 !important;
    border-radius: 10px;
    transition: 0.3s;
}

.dark-mode .nav-link:hover {
    transition: 0.3s;
    background: #333;
}

.dark-mode .nav-link:focus,
.dark-mode .nav-link.active {
    background: #333 !important;
    transition: 0.3s;
}

.dark-mode .nav-link {
    color: #fff !important;
}


/* Navigation Links */


/* Dropdown Menu */

.dropdown-menu {
    min-width: 50px;
    backdrop-filter: blur(20px);
    border-radius: 5px;
    transition: 0.3s;
}

.dark-mode .dropdown-menu {
    background: #1a1a1a;
}

.dropdown-item {
    color: black !important;
}

.dropdown-item:hover {
    background: #f5f5f5;
    transition: 0.3s;
}

.dropdown-menu .dropdown-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-right: 5px;
}

.nav-item.dropdown .nav-link.show {
    color: #000;
    transition: 0.3s;
}

.dark-mode .nav-item.dropdown .nav-link.show {
    color: #fff !important;
    transition: 0.3s;
}

@media(max-width:991px) {
    .dropdown-menu {
        position: absolute !important;
        left: 0;
        right: auto !important;
        min-width: 50px;
        transition: 0.3s;
    }
}


/* End Dropdown */


/* Custom Link */

.custom-link {
    color: #000 !important;
    transition: 0.3s;
}

.dark-mode .custom-link {
    color: #fff !important;
}


/* Custom Link */


/* Button */

.btn-custom {
    display: flex;
    align-items: center;
    font-size: 14px;
    background: #f5f5f5;
    border-radius: 5px;
    border: solid 1px #cdcdcd;
}

.btn-custom:hover {
    background: #f0f0f0;
    transition: 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: solid 1px #cdcdcd;
}

.btn-custom:focus {
    background: #e0e0e0 !important;
    transition: 0.3s;
}

.dark-mode .btn-custom {
    background: #2a2a2a;
    color: #fff;
}

.dark-mode .btn-custom:hover {
    background: #3a3a3a;
    transition: 0.3s;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
}

.dark-mode .btn-custom:focus {
    color: #000;
    background: #3a3a3a;
    transition: 0.3s;
}


/* End Buttons */


/* Foto Hero */

.profile {
    width: 300px;
    height: 300px;
    object-fit: cover;
}


/* Footer */

footer {
    padding: 15px;
    text-align: center;
    margin-top: 10px;
    font-size: 11px;
    background: rgba(255, 255, 255);
}

footer a {
    transition: 0.3s;
}

footer a:hover {
    color: gray !important;
}


/* Card */

.card {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.dark-mode .card:hover {
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.1);
}

.card img {
    height: 100%;
    width: 100%;
    transition: 0.1s;
}

.material-symbols-outlined {
    margin-right: 5px;
}

.img-fluid {
    width: 100%;
    transition: 0.1s;
}

.img-profile {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.card-home {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.card-home:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.dark-mode .card-home {
    background: #1a1a1a;
    color: #fff;
}

.dark-mode .card-home:hover {
    color: #fff;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.1);
    transition: all 0.1s;
}


/* Form Control */

.form-control,
.pesan {
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 14px;
    padding: 8px;
    border-radius: 10px;
    background: #ffffff;
}

.form-control:focus {
    border: 1px solid #cdcccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dark-mode .form-control,
.dark-mode .pesan {
    background: #1a1a1a;
    color: #f0f0f0;
}

.dark-mode .form-control:hover {
    border: 1px solid #cdcccc;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.dark-mode .form-control:focus {
    border: 1px solid #cdcccc;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}


/* Input Group */

.search-box {
    position: relative;
    width: 100%;
}

.search-box input {
    border-radius: 10px;
}

.search-btn {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-btn:hover {
    opacity: .7;
}

.search-btn .material-symbols-outlined {
    font-size: 20px;
    color: #000;
}

.dark-mode .search-btn .material-symbols-outlined {
    color: #fff !important;
}

textarea {
    resize: none;
}


/* Input Group */


/* Link Telephone */

a[href^="tel"] {
    color: #000 !important;
    text-decoration: none !important;
}


/* .time-box {
    display: inline-block;
}

.dark-mode .time-box {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
 */


/* Notifikasi Pesan Terkirim */

#successMessage,
#searchAlert {
    border-radius: 12px;
    animation: fadeIn 0.4s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Form Control Contact */

.badge {
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 6px 10px;
}

.visitor-box {
    display: inline-block;
    border-radius: 5px;
    font-size: 14px;
}

.dark-mode .visitor-box {
    border: 1px solid rgba(255, 255, 255, .1);
}

.contact-info {
    background: #f0f0f0;
}


/* Chat Box */

#chatBox {
    font-size: 14px;
    scroll-behavior: smooth;
}

#chatBox div {
    padding: 10px;
    border-radius: 10px;
}


/* Terminal */

.terminal {
    background: #000;
    color: #f0f0f0;
    font-family: monospace;
    min-height: 400px;
}

.terminal-input {
    background: transparent;
    border: none;
    outline: none;
    color: #f0f0f0;
    width: 100%;
    font-family: monospace;
}

#terminalOutput div {
    margin-bottom: 8px;
}


/* Filter Button */

.filter-btn {
    border: none;
    background: transparent;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    color: #000;
}

.filter-btn.active {
    background: #f0f0f0;
    color: #000;
    transition: 0.3s;
}

.feature-content {
    animation: fade 0.3s ease;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.quote-box {
    transition: .4s;
}

#quoteText {
    transition: .4s;
    font-style: italic;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    inset: 0;
    background: #ddd;
    border-radius: 50px;
    transition: .3s;
}

.slider:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 3px;
    top: 3px;
    background: #fff;
    border-radius: 50%;
    transition: .3s;
}

input:checked+.slider {
    background: #0d6efd;
}

input:checked+.slider:before {
    transform: translateX(18px);
}


/* Activity Log  */

.activity-log {
    background-color: #1e1e1e;
    color: #75be00;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
    border-radius: 8px;
    max-width: 450px;
    margin: 20px auto;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.activity-log h3 {
    margin-top: 0;
    color: #fff;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
    font-size: 14px;
}

.activity-log ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 13px;
}

.activity-log li {
    margin-bottom: 8px;
}

.activity-log .time {
    color: #007acc;
}

#status-sistem,
#fakta-random {
    scroll-margin-top: 100px;
    animation: fadeIn 0.5s ease;
}

.transition-hover {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.transition-hover:hover {
    transform: translateY(-4px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}